/* Fonts : Pacifico, Lobster Two, Anton, Yanone Kaffeesatz */

:root {
  --dark-blue-color: #5788b9;
  --tab-color: #4a501e;
  --brand-color: #ececec;
  --lime-color: #c8ee61;

  --hover-effect-color: #d2eee7;
  --white-color: #fff;
  --grey-color: rgb(53, 53, 53);
  --light-grey-color: rgb(77, 77, 77);
  --extra-light-grey-color: rgb(187, 187, 187);
}

html {
  font-size: 62.5%; /* default size: 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
/* Layout */

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: var(--dark-blue-color);
}

main {
  grid-area: main;
  padding: 1rem;
  background-color: rgb(214, 213, 241);
}

footer {
  grid-area: footer;
  background-color: var(--dark-blue-color);
  color: var(--white-color);
}

/* Commons */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.tabs {
  margin: 1rem;
  color: var(--tab-color);
  font-family: "Anton", sans-serif;
  font-weight: 400;
}

a.brand {
  color: var(--brand-color);
  font-family: "Lobster Two", cursive;
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem;
  margin-left: 1rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row.center {
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-family: "Anton", sans-serif;
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
label {
  font-family: "Yanone Kaffeesatz", sans-serif;
}
p {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.tabs:hover {
  color: var(--hover-effect-color);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

.footer {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 2rem;
}

/* Homeview */

.home-container h1 {
  font-size: 3rem;
  margin: -0.5rem;
}

.home-container p {
  font-size: 2rem;
  margin: -0.5rem;
}
/* Homeview Ends */

/* FriendView */

.friends-box {
  height: 50rem;
  width: 40rem;
  opacity: 0.9;
  background-color: rgb(45, 74, 151);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #132729;
  margin: 2rem;
}

.friends-box h2 {
  color: var(--brand-color);
  font-family: Lobster Two, sans-serif;
  font-size: 2.5rem;
}
.friends-list-holder {
  width: 100%;
  height: 65%;
  background-color: #2aa1f0;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.friend {
  display: flex;
  border: #132729 0.05rem solid;
}

.friend:hover {
  background-color: orange;
}

.user-info {
  margin-left: 0.5rem;
}

.user-info h3 {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.user-info h4 {
  font-size: 1.5rem;
  margin-top: -1rem;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.small {
  width: 8rem;
  height: 8rem;
  margin: 0.5rem;
}

.medium {
  width: 25rem;
  height: 25rem;
  margin: 1rem;
}

.propic-container {
  background-color: coral;
  border-radius: 50%;
  overflow: hidden;
}

.friend-buttons {
  margin-top: 2rem;
}

.friend-button {
  font-family: Pacifico, sans-serif;
  padding: .5rem 2rem .5rem 2rem;
  margin-left: 2rem;
  background-color: #5788b9;
  border-radius: 0.5rem;
  border: #132729 0.1rem solid;
  box-shadow: 0.3rem 0.3rem 0.3rem #132729;
}

.friend-button.find-friend-button {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.friend-buttons input {
  margin-left: 1rem;
  width: 15rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.friend-button:hover {
  background-color: gold;
}
/* FriendView Ends */

/* logininView */

.login-holder {
  padding: 3rem;
  background-color: #7cf078;
  flex-direction: column;
  position: fixed;
  top: 12%;
  border-radius: 15%;
  border: #132729 0.3rem solid;
}

.sign-text-holder {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.sign-text-holder h1 {
  color: #2b3057;
  font-family: "Lobster two", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  margin: -1rem;
  align-content: center;
}

.inputs-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  position: relative;
}

.inputs-box label {
  font-size: 2.5rem;
  color: #3f435c;
}

.inputs-box input {
  position: relative;
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: lightgoldenrodyellow;
  border: 0.1rem solid var(--secondary-color);
  font-size: 1.4rem;
  color: var(--light-grey-color);
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
  border: #132729 0.1rem solid;
}

.login-holder button {
  font-family: "Yanone Kaffeesatz", sans-serif;
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  background-color: var(--light-grey-color);
  color: var(--white-color);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.signup-holder {
  margin-top: 1rem;
}

.signup-holder p {
  font-size: 2rem;
  font-weight: 400;
}

.signup-holder a {
  font-size: 2rem;
  font-weight: 600;
}

.signup-holder a:hover {
  color: rgb(57, 100, 0);
}

/* logininView Ends */

/* RegisterView */


.register-input-box {
  display: flex;
}

.login-holder.register-holder {
  background-color: var(--lime-color);
}

.set-photo label {
  font-size: 3rem;
  margin: 1rem;
}


.set-photo label:nth-child(3) {
  color: #132729;
  font-size: 4rem;
  margin: 1rem;
}

.set-photo button {
  font-family: "Yanone Kaffeesatz", sans-serif;
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  background-color: var(--light-grey-color);
  color: var(--white-color);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

/* RegisterView/SetphotoBiew Ends*/

/* ProfileView */


.edit input, button, label {
  background: none;
  border: none;
  font-size: 2rem;
  font-family: "Yanone Kaffeesatz", sans-serif;
}


.edit button {
  padding-left: -8rem;
}

.edit button:hover {
  cursor: pointer;
  color: orange;
}

.edit label {
  padding-left: 2rem;
}

.edit input {
  width: 24rem;
  margin-left: 4rem;
  margin-right: 2rem;
  padding-left: 3rem;
  padding-right: 1rem;
}


.line{
  width: 45rem;
  height: 1rem;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  }



/* ProfileView Ends*/